!!!
%head
  %title Lola Fan Site
  %link{href: "/normalize.css", rel: 'stylesheet', type: 'text/css'}
  %link{href: "/application.css", rel: 'stylesheet', type: 'text/css'}
%body
  %ul
    %li
      %a{href: "/"} Home
    %li
      %a{href: "/about"} About
  = yield
